html, body, .container-fluid, .row {
    height: 100%;
}

.sidebar {
    height: 100%;
    min-height: 100%;
//     // position: relative;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     z-index: 1000;
//     display: block;
//     background-color: #424242;
}